.home {
    position: absolute;
    top: 80px;
}

.editor-widget {
    padding: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.options {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.options button {
    margin: 3%;
    padding: 5px;
    display: inline-flex;
    font-size: 18px;
    background: #1e1e1e;
    color: #fff;
    border: none;
    box-shadow: 3px 3px 4px #141414;
    transition: all 0.3s ease-in-out;
}

.options button:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.fName {
    width: 250px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    background: #232323;
    color: #fff;
    box-shadow: 0 0 5px #111111 inset;
}

.editor {
    width: 60em;
    height: 35em;
    margin-top: 30px;
    font-size: 16px;
    padding: 20px;
    resize: none;
    scroll-behavior: auto;
    background: #232323;
    color: #fff;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px #111111 inset;
}

@media (max-width: 1000px) {
    .options button {
        margin: 3%;
    }
    .editor {
        width: 50em;
    }
}

@media (max-width: 868px) {
    .options button {
        margin: 4%;
        padding: 6px;
    }
    .editor {
        width: 40em;
    }
}

@media (max-width: 668px) {
    .options button {
        margin: 5%;
        padding: 8px;
        font-size: 20px;
    }
    .editor {
        width: 30em;
    }
}

@media (max-width: 568px) {
    .editor {
        width: 25em;
    }
}

@media (max-width: 425px) {
    .editor {
        width: 20em;
    }
}

@media (max-width: 350px) {
    .editor {
        width: 17em;
    }
}